#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

.heading {
    font-family: helvetica;
}

#title-heading {
    text-align: center;
}

.paragraph {
    font-family: helvetica;
}

#mikey-container {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    }

