body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

#outer-container {
    flex: 1 0 auto;
}

.header {
    background-color: #292626d9;
    height: 125px;
    width: 100vw;
}

#title-heading {
    color: white;
    font-size: 36pt;
    margin: 0;
    padding-top: 33px;
    text-align: center;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 750px;
}

.heading {
    font-family: 'Open Sans', sans-serif;
}

.paragraph {
    font-family: helvetica;
    font-size: 14pt;
}

#btn-container {
    display: flex;
    justify-content: center;
}

.btn {
    background-color: #dd4b47;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
    font-weight: bold;
    padding: 8px;
    text-align: center;
}

.btn:hover {
    background-color: #b50601;
}

#mikey-container {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 750px;
    width: 750px;
}

#caption-container {
    text-align: center;
}

#mikey-caption {
    display: inline-block;
    width: 400px;
}

#home-container {
    align-items: center;
    background-color: #d8d8d8d9;
    bottom: 10px;
    display: flex;
    flex-shrink: 0;
    height: 50px;
    justify-content: center;
    margin-top: 100px;
    text-align: center;
    width: 100vw;
}

.home {
    color: black;
    width: 100px;
}