#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#selfie {
    display: block;
    margin: auto;
}

#greeting-container {
  margin-top: 20px;
}

.heading {
    font-family: helvetica;
}

#title-heading {
    text-align: center;
}

.paragraph {
    font-family: helvetica;
}

.list {
    font-family: helvetica;
}

#greeting-container {
    font-family: helvetica;
}

.project-links {
    text-decoration: none;
}

.project-links:hover {
    text-decoration: underline;
}

#sm-heading {
    margin-bottom: 10px;
}

.icon-container {
    padding: 8px;
}

.icon {
    width: 25px;
    display: inline-block;
    vertical-align: middle;
    padding-right: 5px;
}

.sm-text {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}