body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#outer-container {
    flex: 1 0 auto;
}

.header {
    width: 100vw;
    height: 420px;
    background-color: #292626d9;
}

#title-heading {
    text-align: center;
    color: white;
    margin-top: 0;
    margin-bottom: 10px;
    padding-top: 40px; 
    font-size: 40pt;
}

#selfie {
    display: block;
    margin: auto;
    border-radius: 50%;
    width: 250px;
}

#content {
    margin-left: auto;
    margin-right: auto;
    width: 750px;
}

.heading {
    font-family: 'Open Sans', sans-serif;
}

.paragraph {
    font-family: helvetica;
    font-size: 14pt;
}

.list {
    font-family: helvetica;
    font-size: 14pt;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.btn {
    width: fit-content;
    margin: auto;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 12pt;
    color: white;
    background-color: #dd4b47;
    border: none;
    padding: 8px;
    border-radius: 5px;
}

.btn:hover {
    background-color: #b50601;
}

.project-links {
    text-decoration: none;
}

.project-links:hover {
    text-decoration: underline;
}

#footer {
    flex-shrink: 0;
    height: 100px;
    width: 100vw;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d8d8d8d9;
}

#sm-heading {
    margin-bottom: 10px;
}

.icon-container {
    padding: 15px;
    text-align: center;
    justify-content: space-around;
}

icon-link:visited {
    color: black;
}

.icon {
    width: 25px;
    display: inline-block;
    vertical-align: middle;
    padding-right: 5px;
}

.sm-text {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    color: black;
}